// BrightLight Green

$navtext-color: #fff;
$font-family: "Nunito", sans-serif;
$text-color: #000;
$body-bg: white;
$code-bg-color: #eeeeee;
$tertiary-color: #bdbdbd;
$secondary-color: #212121;
$primary-color: #00c853;

// Midnight Green

// $font-family: "Nunito", sans-serif;
// $navtext-color: #fff;
// $text-color: #eceff1;
// $body-bg: #37474f;
// $code-bg-color: #263238;
// $tertiary-color: #bdbdbd;
// $secondary-color: #212121;
// $primary-color: #00c853;

// Dark Fairy Pink

// $navtext-color: #fff;
// $font-family: "Nunito", sans-serif;
// $text-color: #fce4ec;
// $body-bg: #ad1457;
// $code-bg-color: #263238;
// $tertiary-color: #bdbdbd;
// $secondary-color: #212121;
// $primary-color: #e91e63;

// Light Fairy Pink

// $navtext-color: #fff;
// $font-family: "Nunito", sans-serif;
// $text-color: #ff4081;
// $body-bg: #fce4ec;
// $code-bg-color: #880e4f;
// $tertiary-color: #e0e0e0;
// $secondary-color: #c51162;
// $primary-color: #ff80ab;

// Dark Forest Green

// $navtext-color: #fff;
// $font-family: "Nunito", sans-serif;
// $text-color: #00c853;
// $body-bg: #000;
// $code-bg-color: #263238;
// $tertiary-color: #33691e;
// $secondary-color: #212121;
// $primary-color: #ccff90;
